header {
  align-items: center;
  background: linear-gradient($blue-color, darken($blue-color, 10%));
  border-bottom: 1px solid $blue-color;
  box-shadow: 0 0 10px 1px transparentize($blue-color, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  img#logo {
    height: 50px;
    margin: 0 30px;
  }

  h1 {
    color: #efefef;
    display: inline;
    font-size: 26px;
  }

  input#nav-toggle {
    display: none;
  }

  nav {
    > a {
      text-decoration: none;
    }

    > button {
      text-align: left;
    }
  }

  @include desktop {
    label#nav-hamburger {
      display: none;
    }

    nav {
      margin-right: 30px;
      padding: 0;

      > a.button, > button {
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  @include mobile {
    padding: 5px 0;

    img#logo {
      height: 40px;
      margin: 0 10px;
    }

    h1 {
      font-size: 20px;
    }

    input#nav-toggle {
      &:checked {
        ~ label#nav-hamburger {
          span {
            &:nth-child(1) {
              transform: translate(0, 9px) rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              transform: translate(0, -9px) rotate(-45deg);
            }
          }
        }

        @keyframes pop-down {
          0% {
            top: 0;
          }

          25% {
            top: 70px;
          }

          100% {
            top: 65px;
          }
        }

        ~ nav {
          animation: pop-down 0.25s;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    label#nav-hamburger {
      cursor: pointer;
      margin-right: 10px;
      width: 40px;

      span {
        background-color: #efefef;
        border-radius: 3px;
        display: block;
        height: 4px;
        margin-bottom: 5px;
        transition: 0.25s;
      }
    }

    nav {
      opacity: 0;
      position: absolute;
      top: 65px;
      transition: 0.25s;
      visibility: hidden;
      width: 100%;

      > a.button, > button {
        border: {
          bottom: 1px solid #ccc;
          radius: 0;
        }
        display: block;
        font-size: 18px;
        width: 100%;
      }

      > button {
        margin-bottom: 0;
      }
    }
  }
}
