@import "fonts";

// variables
$font-family: "Open Sans", sans-serif;
$blue-color: #013d7d;

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

input {
  color: $blue-color;
  font: {
    family: $font-family;
    size: 16px;
  }
}

button, input[type="submit"], a.button {
  background-color: #efefef;
  border: 0 {
    radius: 5px;
  }
  color: $blue-color;
  font: {
    family: $font-family;
    size: 16px;
  }
  outline: 0;
  padding: 10px 17px;
  transition: 0.2s;

  &:hover, &:focus, &.active {
    background-color: #dfdfdf;
    cursor: pointer;
  }

  &:active {
    background-color: #ccc;
  }
}

body {
  background-color: #fff;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: $blue-color;
}

section#content {
  margin-top: 85px;
  padding: 10px;
}

@import "header";
@import "templates/rounds";
@import "templates/round";
