$scorecard-width: 1220px;

.scorecard {
  border: 1px solid #ccc {
    radius: 4px;
    spacing: 0;
  }
  box-shadow: 0 0 20px 0px #ccc;
  margin: 10px auto;
  padding-bottom: 25px;
  width: $scorecard-width + 2px;

  @include mobile {
    width: auto;
  }

  .scorecard-heading {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 10px;
    position: relative;
    text-align: center;

    button.scorecoard-remove-round {
      position: absolute;
      padding: 5px 10px;
      right: 5px;
      top: 5px;
    }
  }

  .scorecard-scroller {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  table {
    border-spacing: 0;
    width: $scorecard-width;

    > tr {
      > td, > th {
        border: {
          color: #ccc;
          style: solid;
          width: 0 0 1px 1px;
        }
        padding: 10px;
        text-align: center;
        width: 55px;

        &:first-child {
          border-left-width: 0;
          text-align: left;
          width: 100px;
          white-space: nowrap;
          padding-left: 15px;
        }

        &:last-child, &:nth-last-child(2) {
          width: 65px;
        }
      }

      &.scorecard-heading {
        > th {
          padding: 10px;
          text-align: center;
          position: relative;
        }
      }

      &.scorecard-holes {
        font-weight: bold;
      }

      &.scorecard-no-players {
        > td {
          color: #aaa;
          font-style: italic;
          padding: 30px 0;
          text-align: center;
        }
      }

      > td.player-scorecard-name-handicaps {
        position: relative;

        span.player-handicaps {
          font-size: 11px;
          position: absolute;
          left: 10px;
          bottom: 0;
          background-color: #e9e9e9;
          padding: 0 5px;
          border: {
            top-left-radius: 5px;
            top-right-radius: 5px;
          }
        }
      }

      > td.player-scorecard-score {
        padding: 0;
        position: relative;

        > input {
          background: transparent;
          border: 0;
          padding: 15px 5px 15px 15px;
          text-align: center;
          width: 100%;

          &:focus {
            background-color: #eee;
            outline: 0;
          }
        }

        .shots {
          bottom: 0;
          left: 0;
          padding: 0 5px;
          position: absolute;
          text-align: right;
          width: 100%;

          .shots-shot {
            background-color: $blue-color;
            border-radius: 4px;
            display: inline-block;
            height: 4px;
            width: 4px;
          }
        }
      }
    }
  }
}

form.scorecard-add-player {
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  width: 30%;

  @include mobile {
    width: 100%;
  }

  > label {
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
    align-items: center;

    span {
      width: 75px;
    }

    input {
      padding: 7px 10px;
      flex-grow: 1;
    }
  }

  h3 {
    text-align: center;
  }
}
