<header>
  <img src="/images/tpc-logo.png" alt="" id="logo">

  <h1>Sunday Golf Game</h1>

  <input type="checkbox" id="nav-toggle">

  <label id="nav-hamburger" for="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
  </nav>
</header>

<section id="content">
  {{outlet}}
</section>
