<div class="rounds-list">
  {{#each (sort-by 'createdAt:desc' model) as |round|}}
    <div class="rounds-list-item">
      {{link-to (moment-format round.createdAt 'MMMM Do, YYYY h:mma') 'round' round.id}}
    </div>
  {{else}}
    <p>You have no saved rounds.</p>
  {{/each}}
</div>
