{{#if model}}
  <ul>
    {{#each (sort-by 'createdAt:desc' model) as |round|}}
      <li>
        {{link-to (moment-format round.createdAt 'MMMM Do, YYYY') 'round' round.id}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>You have no rounds.</p>
{{/if}}
